* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-board {
  width: 80%;
  height: 500px;
  border: 1px solid #333;
  margin: 0 auto;
  position: relative;
  overflow: hidden; /*oq saiu do quadro vc não ve mais */
}

.pipe {
  position: absolute;
  bottom: 0;
  width: 80px;
  animation: pipe-animation 1.5s infinite linear;
}

.mario {
  width: 150px;
  position: absolute;
  bottom: 0;
}

.jump {
  animation: jump 500ms ease-out;
}

@keyframes pipe-animation {
  from {
    right: -80px;
  }
  to {
    right: 100%;
  }
}

@keyframes jump {
  0% {
    bottom: 0;
  }

  40% {
    bottom: 190px;
  }

  50% {
    bottom: 190px;
  }

  60% {
    bottom: 190px;
  }

  100% {
    bottom: 0;
  }
}

h1 {
  text-align: center;
  margin-top: 20px;
}

.botao-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#novoJogoBotao {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid #333;
  border-radius: 5px;
  background-color: #eee;
}
